body {
    padding-top: 70px;
}

.radio-inline {
    padding-left: 5px;
    padding-right: 10px;
}

.space {
    margin-left: 5px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.width100 {
    width: 100px;
    min-width: 100px;
    text-align: center;
}

.width120 {
    width: 120px;
    min-width: 120px;
    text-align: center;
}

input[type=radio] {
    margin-top: 10px;
}

.form-horizontal .radio-inline {
    padding-top: 0;
    margin-top: -2px;
}

ul {
    padding: 0;
}

.alert ul {
    list-style: none;
}

.alert .glyphicon {
    display: table-cell;
}

.alert div,
.alert span {
    padding-left: 5px;
    display: table-cell;
}

.alert {
    padding: 10px;
}

.dropdown-menu .divider {
    margin: 1px 0;
}

.panel-success > .panel-heading {
    font-weight: bold;
}

select[size] {
    height: 34px;
}

textarea.form-control {
    height: 100px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

p {
    margin: 0 0 10px;
}

.text-label {
    line-height: 32px;
}

.bootstrap-datetimepicker-widget {
    background-color: white;
    color: black;
}

.avatar {
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px !important;
}

.avatar-rounded {
    box-sizing: border-box;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .6);
    border-radius: 50%;
    overflow: hidden;
}

.avatar-m {
    box-sizing: border-box;
    width: 250px;
    padding: 20px;
}

.avatar-e {
    margin-bottom: 4px;
}

.avatar-d {
    color: #ccc;
    margin: 0;
}
