<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <title>Cadastro de aluno</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/arquivos/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/arquivos/bootstrap-datetimepicker.css}"/>
    <link rel="stylesheet" th:href="@{/arquivos/estilo.css}"/>
    <script type="text/javascript" th:src="@{/arquivos/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<form id="menu" name="menu" method="post">
    <input type="hidden" name="menu" value="menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/home}" class="navbar-brand">
                    Cadastro de alunos
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Cadastros <em class="caret"></em>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/alunos/pesquisa}">Alunos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</form>
<form method="post" class="form-horizontal" action="/alunos/pesquisa">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/home">Início</a></li>
            <li><a href="/home">Cadastros</a></li>
            <li class="active">Pesquisar</li>
        </ol>
        <div id="mensagem" th:text="${mensagem}" th:if="${mensagem != null}" class="alert alert-success"
             role="alert"></div>
        <div class="page-header">
            <h1>Pesquisa de alunos</h1>
        </div>
        <div class="form-group">
            <label for="nome" class="control-label col-sm-2">Nome:</label>
            <div class="col-sm-10">
                <input type="text" name="nome" id="nome" class="form-control" th:value="${nome}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Pesquisar" class="btn btn-primary">
                <a href="/alunos/novo" class="btn btn-default">Novo</a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Resultado da consulta</div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th class="text-center" scope="col">CPF</th>
                            <th class="text-center" scope="col">Data de Nascimento</th>
                            <th class="width120" scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="aluno : ${alunos}">
                            <td th:text="${aluno.nome}"></td>
                            <td th:text="${aluno.cpf}" class="text-center"></td>
                            <td th:text="${#dates.format(aluno.nascimento, 'dd/MM/yyyy')}" class="text-center"></td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                    <a th:href="@{'/alunos/editar/' + ${aluno.id}}" title="Editar"
                                       class="btn btn-default">
                                        <em class="glyphicon glyphicon-pencil"></em>
                                    </a>
                                    <a th:href="@{'/alunos/excluir/' + ${aluno.id}}" title="Excluir"
                                       onclick="return confirm('Confirma a exclusão?')" class="btn btn-default">
                                        <em class="glyphicon glyphicon-trash"></em>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
</html>