<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <title>Cadastro de aluno</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/arquivos/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/arquivos/bootstrap-datetimepicker.css}"/>
    <link rel="stylesheet" th:href="@{/arquivos/estilo.css}"/>
    <script type="text/javascript" th:src="@{/arquivos/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<form id="menu" name="menu" method="post">
    <input type="hidden" name="menu" value="menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    Cadastro de alunos
                </a>
            </div>
        </div>
    </nav>
</form>
<form method="post" class="form-horizontal" action="/login" name="principal">
    <div class="container">
        <div class="" style="height: 60px"></div>
        <br/>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Autenticação</div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Usuário" name="usuario"/>
                        </div>
                        <div class="form-group"></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Senha" name="senha"/>
                        </div>
                        <div style="text-align: right;">
                            <small>
                                <a href="#">Criar conta</a>
                            </small>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </div>

                    <small class="pull-right">
                        <a href="#">Esqueceu a senha?</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>