<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <title>Cadastro de aluno</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/arquivos/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/arquivos/bootstrap-datetimepicker.css}"/>
    <link rel="stylesheet" th:href="@{/arquivos/estilo.css}"/>
    <script type="text/javascript" th:src="@{/arquivos/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/arquivos/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<form id="menu" name="menu" method="post">
    <input type="hidden" name="menu" value="menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">
                    Cadastro de alunos
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Cadastros <em class="caret"></em>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/alunos/pesquisa">Alunos</a></li>
                            <li><a href="/disciplinas/pesquisa">Disciplinas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</form>
<form method="post" class="form-horizontal">
    <div class="container">
        <div class="banner">
            <div class="jumbotron">
                <div class="container">
                    <h1>Cadastro de alunos</h1>
                    <p class="lead">Projeto de demonstração do Spring Web para alunos.</p>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>