<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head id="j_idt2">
    <title>Controle de estoque</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="arquivos/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="arquivos/estilo.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-title" content="Questões-Faciplac">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/banco-questoes/imagens/favicon.png?1565981168228">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]&gt;
      &lt;script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"&gt;&lt;/script&gt;
      &lt;script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"&gt;&lt;/script&gt;
    &lt;![endif]-->
    <script type="text/javascript" src="arquivos/jquery.js"></script>
    <script type="text/javascript" src="arquivos/moment-with-locales.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="arquivos/bootstrap-datetimepicker.js"></script>
</head>
<body>
<form id="menu" name="menu" method="post">
    <input type="hidden" name="menu" value="menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" style="padding-top: 6px !important" class="navbar-brand">
                    <img src="arquivos/logob.png" alt="Logo Faciplac" width="40" height="40">
                </a>
                <a href="#" class="navbar-brand">
                    Controle de Estoque
                </a>
            </div>
        </div>
    </nav>
</form>
<form method="post" class="form-horizontal" action="/login">
    <div class="container">
        <div class="banner">
            <div class="" style="height: 60px"></div>
            <center>
                <div class="panel panel-success" style="width: 300px; text-align: center;">
                    <div class="panel-heading">Autenticação</div>
                    <div class="panel-body">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="Usuário"
                                   name="usuario">
                        </div>
                        <div class="form-group"></div>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                            <input type="password" class="form-control" placeholder="Senha"
                                   name="senha">
                        </div>
                        <div style="text-align: right;">
                            <small>
                                <a href="#">Criar conta</a>
                            </small>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </div>
                </div>
                <small>
                    <a href="#">Esqueceu a senha?</a>
                </small>
            </center>
        </div>
    </div>
</form>
</body>
</html>